.arrows {
  padding: $pad*1.5 0 0 0;
  
.old-arrow {
    float: right;
    text-align: right;
  }
  p {
    margin-bottom: 0;
    &.old-arrow {
      a {
        padding-right: 5px;
      }
    }
    &.new-arrow {
      a {
        padding-left: 5px;
      }
    }
  }
  a {
    text-decoration: none;
    @include font-size(1.2);
    @include font(sans);
    color: $dark-red;
      &:hover {
        color: $hover-red;
        text-decoration: underline;
        @include link-transition;
      }
    @include link-transition;
    &:hover {
      text-decoration: underline;
    }
  }
}