.press-clips {

  .publication {
    @include border-bottom;
    padding-bottom: 2rem;

    &:last-of-type {
      border: none;
    }

    h1 {
      width: 40rem;
      margin: 1.2rem auto;
      padding-top: 2.25rem;
      text-align: left;
    }
    
    
      p {
        text-indent: 0;
        @include bp(beta) {
          text-indent: 1.5rem;
      }
    }
  }
}