      </div> <!-- .page-wrap -->

          <footer class="main-footer">
            <section class="hits clearfix module" role="complementary">
              <div class="best-posts col-1-2">
                  <p><span>New to OHSAA Football?</span> Start here.</p>
                  <ul>
                      <li><a href="">1</a></li>
                      <li><a href="">2</a></li>
                      <li><a href="">3</a></li>
                      <li><a href="">4</a></li>
                      <li><a href="">5</a></li>
                  </ul>
              </div>
              <div class="new-posts col-1-2">
                  <p><span>Back?</span> Here's our latest.</p>
                  <ul>
                      <li><a href="">1</a></li>
                      <li><a href="">2</a></li>
                      <li><a href="">3</a></li>
                      <li><a href="">4</a></li>
                      <li><a href="">5</a></li>
                  </ul>
              </div>
            </section>

            <section class="footer-bottom module" role="contentinfo">
              <!-- <p><a href="https://twitter.com/amymhaddad" title="Amy's Twitter page">Follow me on Twitter.</a> <a href="https://www.linkedin.com/pub/amy&#45;haddad/10/b45/730" title="Amy's LinkedIn page">Find me on LinkedIn.</a> <a href="mailto:amy@artdiversions.com">Send me an email.</a></p> -->
              <p>Content &copy;{{ 'now' | date: "%Y" }} OHSAA Football Officials</p>
            </section>
        </footer>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="{{ site.baseurl}}/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
      <script src="{{ site.baseurl }}/js/build/production.min.js"></script>
  </body>
</html>
