      </div> <!-- .page-wrap -->

      <footer class="page-footer ">
        <div class="footer-container ">
            <div class="clearfix footer-links">
                <h2>Links</h2>

                <ul>
                  <li><a href="http://www.ohsaa.org" title="OHSAA Website">OHSAA</a></li>
                  <li><a href="http://ohsaa.org/officials/default.htm" title="OHSAA Officiating website">OHSAA Officiating and Forms</a></li>
                  <li><a href="http://www.nfhs.org/officials/" title="National Federation of High School Officiating website">NFHS Officiating</a></li>
                </ul>
            </div>

            <p>&copy;{{ 'now' | date: "%Y" }} The Ohio High School Athletic Association</p>
        </div>
      </footer>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="{{ site.baseurl}}/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
      <script src="{{ site.baseurl }}/js/build/production.min.js"></script>
  </body>
</html>

