<nav class="main-nav clearfix">
  <ul>
    <li class="home"><a href="{{ site.baseurl }}" title="home"><span aria-hidden="true" data-icon="&#8962;"></span> Home</a></li>
    <li class="videos"><a href="{{ site.baseurl }}/video" title="videos"><span aria-hidden="true" data-icon="&#127916;"></span> Videos</a></li>
    <li class="quiz"><a href="{{ site.baseurl }}/quiz" title="quizzes"><span aria-hidden="true" data-icon="&#127891;"></span>Quizzes</a></li>
    <li class="question"><a href="{{ site.baseurl }}/question" title="questions"><span aria-hidden="true" data-icon="&#128161;"></span> Questions</a></li>
    <li class="observer"><a href="{{ site.baseurl }}/observer" title="observers"><span aria-hidden="true" data-icon="&#128100;"></span> Observers</a></li>
    <li class="bulletin"><a href="{{ site.baseurl }}/bulletin" title="bulletins"><span aria-hidden="true" data-icon="&#128276;"></span> Bulletins</a></li>
    <li class="mechanics"><a href="{{ site.baseurl }}/mechanics" title="mechanics"><span aria-hidden="true" data-icon="&#128200;"></span> Mechanics</a></li>
    <li class="rules"><a href="{{ site.baseurl }}/rules" title="rules"><span aria-hidden="true" data-icon="&#128213;"></span> Rules</a></li>
    <li class="toggle-navigation"><a id="nav-tap" href="#"><span aria-hidden="true" data-icon="&#10146;"></span> Tap for Navigation!</a></li>
  </ul>
</nav>
