<nav>
  <ul>
    <li><a href="{{ site.baseurl }}/bulletins" title="Bulletins">Bulletins</a></li>
    <li><a href="{{ site.baseurl }}/mechanics" title="Mechanics">Mechanics</a></li>
    <li><a href="{{ site.baseurl }}/observers" title="Observers">Observers</a></li>
    <li><a href="{{ site.baseurl }}/questions" title="Questions">Questions</a></li>
    <li><a href="{{ site.baseurl }}/quizzes" title="Quizzes">Quizzes</a></li>
    <li><a href="{{ site.baseurl }}/rules" title="Rules">Rules</a></li>
    <li><a href="{{ site.baseurl }}/videos" title="Videos">Videos</a></li>
  </ul>
</nav>
